<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Healthbot client</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js">
        document.querySelector("link[rel='icon']").href = "/favicon.ico";
    </script>
</head>

<body>
    <h1>Healthbot destination</h1>

    <img id="map-image" src="/static/map_image.jpg" alt="Map Image">

    <script>
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to the server');
        });

        socket.on('map_update', function(map_image) {
            if (map_image) {
                document.getElementById('map-image').src = map_image;
            }
        });

        // Add event listener to the image element
        var mapImage = document.getElementById('map-image');
        mapImage.addEventListener('click', function(event) {
            // Get the coordinates where the image was clicked
            var x = event.offsetX;
            var y = event.offsetY;

            // Emit the coordinates to the server
            socket.emit('marker_coordinates', { x: x, y: y });
        });
    </script>
</body>
</html>